body {
    background-image: url(https://i.ibb.co/z42yyFf/Group-3-2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* Ensure the body takes up the full height of the viewport */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

.topBar {
    padding: 20px;
}

.logo {
    color: white;
    text-align: center;
    font-size: 25px;
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 50px;
}

.logoBlue {
    color: #00C2FF;
}

.logoRed {
    color: #FF4747;
    font-size: 15px;
}

/* Code Colors */

.codeBlue {
    color: #84d6ea;
}

.codeWhite {
    color: #bcc3b1;
}

.codeGreen {
    color: #a5dd73;
}

.contentCenter {
    text-align: center; /* Center content horizontally */
}

.welcomeText {
    font-family: "Fira Mono", monospace;
    font-weight: 500;
    font-style: normal;
    font-size: 22px;
    margin: 5px auto; /* Center horizontally by setting auto margin for left and right */
    color: #bcc3b1;
    display: block; /* Change to block to occupy full width */
    position: relative;
    text-align: center; /* Center text within its container */
}

.welcomeText::after {
    content: '|';
    position: relative; /* Use relative positioning */
    right: 15px; /* Adjust to position the cursor */
    animation: blink 1s infinite; /* Apply the blinking animation */
    color: inherit; /* Ensure the cursor matches the text color */
}

@keyframes blink {
    0%, 50% {
        opacity: 1;
    }
    50.01%, 100% {
        opacity: 0;
    }
}

.madeWithLove {
    text-align: center;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;    
    margin-bottom: 100px;  
}

.sectionTitle {
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;  
}

.classes {
    display: flex;
    justify-content: space-between;
}

.class:not(:last-child) {
    margin-right: 10px;
}

.class {
    background-color: #101010;
    height: 60px;
    width: 25%;
    flex-grow: 1;
    border-radius: 10px;
    display: grid;
    align-items: center;
}

.sections {
    background-color: #050505;
    padding-top: 50px;
}

.className {
    color: white;
    margin-left: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.progress {
    background-color: #101010;
    border-radius: 10px;
    height: 5px;
    width: 100%; /* Adjust as needed */
    margin: 0 auto; /* Center horizontally */
}
  
.progress-bar {
    background-color: #00C2FF;; /* Green */
    height: 100%;
    border-radius: 10px;
    text-align: center;
    line-height: 20px; /* Center vertically */
    transition: width 0.5s ease; /* Add smooth transition */
}
  
.inside {
    width: 80%;
    margin: auto;
}
