body {
    background-image: url(https://i.ibb.co/z42yyFf/Group-3-2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    padding: 0;
}

:root {
    color-scheme: dark;
}

.topBar {
    padding: 20px;
}

.logo {
    color: white;
    text-align: center;
    font-size: 25px;
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    margin-bottom: 50px;
}

.logoBlue {
    color: #00C2FF;
}

.logoRed {
    color: #FF4747;
    font-size: 15px;
}

.progress {
    background-color: #101010;
    border-radius: 10px;
    height: 5px;
    width: 100%;
    margin: 0 auto;
}

.progress-bar {
    background-color: #00C2FF;
    height: 100%;
    border-radius: 10px;
    text-align: center;
    line-height: 20px;
    transition: width 0.5s ease;
}

.section {
    color: rgb(182, 182, 182);
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 15px;
}

.title {
    color: white;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 25px;
    margin-bottom: 100px;
}

.link {
    text-decoration: none;
    color: white;
}

.class {
    background-color: #050505;
    padding-top: 50px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    height: 500px;
}

.classWidth {
    width: 80%;
    margin: auto;
}

/* Code Colors */

.codeBlue {
    color: #84d6ea;
}

.codeWhite {
    color: #bcc3b1;
}

.codeGreen {
    color: #a5dd73;
}

.codeRed {
    color: #F76D7C;
}

.url {
    text-decoration: underline;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}

.button {
    background-color: #00c3ff;
    height: 40px;
    width: 30%;
    max-width: 200px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
    font-family: "Russo One", sans-serif;
    font-size: 18px;
}

.button:hover {
    background-color: #00C2FF;
    transform: scale(1.05);
}

.buttonText {
    font-size: 18px;
    text-align: center;
    margin: 0;
    padding: 0;
}
